<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567202936195-ficd0lhc0h4k7oj14655spbnu5i5utbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567202936195-ficd0lhc0h4k7oj14655spbnu5i5utbu</string>
	<key>API_KEY</key>
	<string>AIzaSyCYjhMk3YTT08Sg3rBB5ybnEVmY26RiKuM</string>
	<key>GCM_SENDER_ID</key>
	<string>567202936195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jkdeveloper.rescatando</string>
	<key>PROJECT_ID</key>
	<string>rescatando-303ea</string>
	<key>STORAGE_BUCKET</key>
	<string>rescatando-303ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567202936195:ios:366cedc819efe67c</string>
	<key>DATABASE_URL</key>
	<string>https://rescatando-303ea.firebaseio.com</string>
</dict>
</plist>